<!DOCTYPE html>
<html>
<head>
  <title>Notice</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'layouts/header' %>  

<%= yield %>

</body>
</html>
